<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="wrapper">
    
</div>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{{ base.url | prepend: site.url }}/assets/js/jquery-ui.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery-ui.min.js"></script>

<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.multilingual.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/scrollForever.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

<script>
  $(document).ready(function(e){
    $("p, li, h1, h2").multilingual(["ko"]);
    $("p, li, h1, h2").multilingual(["en"]);
    $("p").has("img").css({padding: 0});
    $("p").has("img").css({textAlign: "center"});
      $(".draggable").draggable({ containment: "#containment-wrapper" });
    $("p").multilingual([
      "punct", {
        className: "ml-parentheses", /* Class name can be anything */
        charset: '()⟨⟩《》‹›«»“?℃”,.1234567890§― ' /*  characters to be selected, within '' */
      }
    ]);
  });
</script>
    

<script type="text/javascript">
  $(document).ready(function() { 
      
      
    $(".lazyload").lazyload();

      
    $('#containment-wrapper').each(function(i,el){
        var wframe = $(window).width();
        var hframe = $(window).height();
        var x = 70868
        var w = x - wframe;
        var h = x - hframe;
        var w2 = w *0.5;
        var h2 = h *0.5;
        var wf2 = wframe *0.5;
        var hf2 = hframe *0.5;
        var tLeft = -w2 + wf2,
            tTop  = -h2 + hf2;
        $(el).css({left: tLeft, top: tTop, width: w, height: h});
    }); 
    
   $('#GIQ-3-img-wrapper').each(function(i,el){
        var wframe = $(window).width()*0.5;
        var hframe = $(window).height()*0.5;
        var tLeft = 17717 - wframe,
            tTop  = 17717 - hframe;
        $(el).css({left: tLeft, top: tTop});
    });
      
      
      
    $("#title-main").scrollForever({speed: 500, delaytime: 30});
    $("#title-main-sub").scrollForever({speed: 2000});
      
      $("#close-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-right").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-b-right").click(function() {
    $("#about-full").css("display", "none");
  });
 $("#close-b-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#about-full .about-txt").click(function() {
    $("#about-full").css("display", "none");
  });
      
 
  $("#about").click(function() {
    $("#about-full").css("display", "block");
  });
      
      
      $( "#draggable" ).draggable({ containment: "parent" });

      
        $("#flounder").click(function() {
    $("#flounder").css("display", "none");
  });});
</script>