<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

<div class="wrapper">
    
</div>

</footer>
<div style="display:none;">
<svg id="container_1" data-name="container_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 440"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#container_1_clippath);}.cls-3{fill:#c8a8e3;}</style><clipPath id="container_1_clippath"><rect class="cls-1" width="320" height="440"/></clipPath></defs><title>container_1_clippath</title><g class="cls-2"><path class="cls-3" d="M239.69,156.1c.18-3.32.31-6.66.31-10C240,65.39,186.27,0,120,0S0,65.39,0,146.06C0,209.79,33.55,264,80.31,283.9c-.18,3.32-.31,6.66-.31,10C80,374.61,133.72,440,200,440s120-65.39,120-146.06c0-63.73-33.55-117.89-80.31-137.84"/></g></svg>
</div>
<script>
$("button").click(function(e){
    $(this).toggleClass("is-active");
    e.preventDefault();
    $("#menu-list").toggle("slide", {direction: "right" }, 500);

    if($("#menu").attr("trigger")==="0"){
        var w = $( '#menu-list' ).css( 'width' );
        $("#menu").animate({"right":w}, 500);
        $("#menu").attr("trigger", "1");
    }
    else{
        $("#menu").animate({"right":"0"}, 500);
        $("#menu").attr("trigger", "0");
        }
}); 
</script>