<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="wrapper">
    
</div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.multilingual.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/scrollForever.js"></script>
    
<script>
  $(document).ready(function(e){
    $("p, li, h1, h2").multilingual(["ko"]);
    $("p, li, h1, h2").multilingual(["en"]);
    $("p").has("img").css({padding: 0});
    $("p").has("img").css({textAlign: "center"});
    $("p").multilingual([
      "punct", {
        className: "ml-parentheses", /* Class name can be anything */
        charset: '()⟨⟩《》‹›«»“?℃”,.1234567890§― ' /*  characters to be selected, within '' */
      }
    ]);
  });
</script>
    

<script type="text/javascript">
  $(document).ready(function() { 
      
    $("#title-main").scrollForever({speed: 500, delaytime: 30});
    $("#title-main-sub").scrollForever({speed: 2000});
      
      $("#close-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-right").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-b-right").click(function() {
    $("#about-full").css("display", "none");
  });
 $("#close-b-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#about-full .about-txt").click(function() {
    $("#about-full").css("display", "none");
  });
      
 
  $("#about").click(function() {
    $("#about-full").css("display", "block");
  });
      
      
      
});</script>

<script>
    document.getElementById('vid').play();
</script>