<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="wrapper">
    
</div>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{{ base.url | prepend: site.url }}/assets/js/jquery-ui.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery-ui.min.js"></script>

<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.multilingual.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/scrollForever.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/slide-stories.js"></script>

<script>
  $(document).ready(function(e){
    $("p, li, h1, h2").multilingual(["ko"]);
    $("p, li, h1, h2").multilingual(["en"]);
    $("p").has("img").css({padding: 0});
    $("p").has("img").css({textAlign: "center"});
      $(".draggable").draggable({ containment: "document" });
    $("p").multilingual([
      "punct", {
        className: "ml-parentheses", /* Class name can be anything */
        charset: '()⟨⟩《》‹›«»“?℃”,.1234567890§― ' /*  characters to be selected, within '' */
      }
    ]);
  });
</script>
    

<script type="text/javascript">
  $(document).ready(function() { 
       
      
    $('.randoms').each(function(i,el){
        var wframe = $('#random_items_wrapper').width()-200;
        var hframe = $('#random_items_wrapper').height()-600;
        var tLeft = Math.floor(Math.random()*wframe),
            tTop  = Math.floor(Math.random()*hframe);
        $(el).css({left: tLeft, top: tTop});
    });
      
    $('.randoms_window').each(function(i,el){
        var wframe = $('#window').offset().top;
        var hframe = $('#window').height()-600;
        var tRandom  = Math.floor(Math.random()*hframe);
        var tTop  = tRandom + wframe;
        $(el).css({top: tTop});
    });
      
    $('.flare').each(function(i,el){
        var wframe = $('#window').width();
        var hframe = $('#window').height()-600;
        var tLeft = Math.floor(Math.random()*wframe),
            tTop  = Math.floor(Math.random()*hframe);
        $(el).css({left: tLeft, top: tTop});
    }); 
      
    $('.float').each(function(i,el){
        var wframe = Math.floor(Math.random() * 401) - 100;
        var hframe = Math.floor(Math.random() * 401) - 100;
        var tLeft = Math.floor(Math.random()*wframe),
            tTop  = Math.floor(Math.random()*hframe);
        $(el).css({left: tLeft, top:tTop});
    }); 
      
      $('#sky-2').each(function(i,el){
        var hsky = $('#sky-1').height();
        var hframe = $('#window').height();
        var tHeight = hframe - hsky;
        $(el).css({height: tHeight});
    });
      
      
    $("#title-main").scrollForever({speed: 500, delaytime: 30});
    $("#title-main-sub").scrollForever({speed: 2000});
      
      $("#close-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-right").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#close-b-right").click(function() {
    $("#about-full").css("display", "none");
  });
 $("#close-b-left").click(function() {
    $("#about-full").css("display", "none");
  });
      $("#about-full .about-txt").click(function() {
    $("#about-full").css("display", "none");
  });
 

$("#w1").mouseenter(function(){ 
     $("#slide1").css("display", "block");}); 

$("#w2").mouseenter(function(){ 
     $("#slide2").css("display", "block");}); 
      
$("#w3").mouseenter(function(){ 
     $("#slide3").css("display", "block");}); 
      
$("#w4").mouseenter(function(){ 
     $("#slide4").css("display", "block");}); 
      
$("#w5").mouseenter(function(){ 
     $("#slide5").css("display", "block");}); 
      
$("#w6").mouseenter(function(){ 
     $("#slide6").css("display", "block");}); 
      
$("#w7").mouseenter(function(){ 
     $("#slide7").css("display", "block");}); 
      
$("#w8").mouseenter(function(){ 
     $("#slide8").css("display", "block");}); 

$("#w9").mouseenter(function(){ 
     $("#slide9").css("display", "block");}); 

$("#w10").mouseenter(function(){ 
     $("#slide10").css("display", "block");}); 
      
$("#w11").mouseenter(function(){ 
     $("#slide11").css("display", "block");}); 

$("#w12").mouseenter(function(){ 
     $("#slide12").css("display", "block");}); 
      
$("#w13").mouseenter(function(){ 
     $("#slide13").css("display", "block");}); 
      

$("#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7, #slide8, #slide9, #slide10, #slide11, #slide12, #slide13").mouseenter(function(){ 
    if($(this).css("display") == "block")
    {
        $(this).mouseleave(function(){
            $(this).css("display", "none");});
    }else{
    }});


$("#GIQ-btn-2").mouseover(function(){ 
     $("#service").css("display", "block");});
      
$("#GIQ-btn-2").click(function(){ 
    if($("#service").css("display") == "block"){
$("#service").css("display", "none");
}else{
$("#service").css("display", "block");
}
     });
      
       $("#service").mouseout(function(){     
     $("#service").css("display", "none");});


      
      var audio = $("#logoAudio")[0];
       $("#logo-img").mouseenter(function(){     
    audio.play();});
      $(".randoms_window").mouseenter(function(){     
        audio.play();
        audio.volume = 0.5;});
      
      var audio2 = $("#bgAudio")[0];
      $("#flounder").hover(function(){     
        audio2.play();
        audio2.volume = 0.2;});
      
      
  $("#about").click(function() {
    $("#about-full").css("display", "block");
  });
      
    $("#draggable").draggable({ containment: "window" });
      
      
      var isDragging = false;
$("#about-full, #flounder")
.mousedown(function() {
    isDragging = false;
})
.mousemove(function() {
    isDragging = true;
 })
.mouseup(function() {
    var wasDragging = isDragging;
    isDragging = false;
    if (!wasDragging) {
        $(this).css("display", "none");
    }
});

  
  });
    

    
</script>
  

<script type="text/javascript">

    
function onloadFunction() {
  var amount = X; //The amount of loops
  var arrayIDs = ["GIQ-btn-1", "GIQ-btn-2", "GIQ-btn-3" , "GIQ-btn-4"];    //all the IDs of the images

  for (i=1;i<=amount;i++) {

   //First get the image height and width in a var
   var element = document.getElementById(arrayIDs[i-1]);
   var positionInfo = element.getBoundingClientRect();
   var imgHeight = positionInfo.height;
   var imgWidth = positionInfo.width;

   //Then get the width and height of the screen. if the container is not the screen
   //use the same code as above for the image width/height and change the imgID
   //The the Id of the container element.
   var screenWidth = window.innerWidth;
   var screenHeight = 6821;

   //Now generate a random top and left position for the image on page load
   var imgLeft = Math.floor(Math.random() * (screenWidth - imgWidth)); 
   var imgTop= Math.floor(Math.random() * (screenHeight - imgHeight)); 

   //The reason to get the img and screen height and width is to not let the 
   //image
   //overlap out of the screen 


   //Now set the image to correct position
   document.getElementById(arrayIDs[i-1]).style.top = imgTop+"px";
   document.getElementById(arrayIDs[i-1]).style.left = imgLeft+"px";
  }
}
    
</script>