<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

<div class="wrapper">
    
</div>

</footer>

<script>
$("button").click(function(e){
    $(this).toggleClass("is-active");
    e.preventDefault();
    $("#menu-list").toggle("slide", {direction: "right" }, 500);

    if($("#menu").attr("trigger")==="0"){
        $("#menu").animate({"right":"35vw"}, 500);
        $("#menu").attr("trigger", "1");
    }
    else{
        $("#menu").animate({"right":"0"}, 500);
        $("#menu").attr("trigger", "0");
        }
}); 
</script>