<header class="site-header">

<div id="menu" trigger = "0">
   <button class="hamburger hamburger--elastic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  </div>
    <div id="menu-list">
        <ul>
         {% for page in site.pages %}
            {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}"><li>{{ page.menu-title }}</li></a>
                {% endif %}
     {% endfor %}
        </ul>
    </div>
    
<div id="frame">

    <!--    <img class="draggable" />  -->
   
            
</div>
    
    <div id="sticker-btn">
            <img src="/assets/SVG/sticker_btn.svg">
        </div>
    <div class="sticker-btn-wrapper">   
    <img src="/assets/glitter2.gif" style="position: fixed; left: 20px; bottom: 20px; z-index: 5000;">
    <img src="/assets/glitter.gif" style="position: fixed; z-index: 5000; left: 160px; bottom: 20px;">
</div>
        
    <div class="title">
        <a href="/">  <img src="/assets/SVG/logo.svg" class="logo-img"></a>
    </div>
    <div class="title-bottom">
        <img src="/assets/SVG/logo.svg" class="logo-img">
    </div>

</header>
