---
# Only the main Sass file needs front matter (the dashes are enough)
---

*
{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited { text-decoration: none; 
color: inherit;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

hr{
    height: 1px;
    color: #9150c8;
    margin-top: 5rem;
    margin-bottom: 1rem;
    background-color: #9150c8;
}

.post-content{
    text-align: center;
}

.post-content p{
    line-height: 1.5rem;
    text-align: justify;
    hyphens: auto;
    -moz-text-align-last: center;
    text-align-last: center;
    color: #9150c8;
    margin-bottom: 1.25rem;
}

.post-content li{
    color: #9150c8;
    text-align: left;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
    margin-bottom: 0;
}

blockquote p{
    padding: 2rem;
    border-bottom: 1px #9150c8 solid;
    border-top: 1px #9150c8 solid;
}

blockquote {
    margin-bottom: 2rem;
}

.post-header p{
    text-align: center;
    color: #9150c8;
}

.post-content sup a{
    color: #000;
    margin-left: 2px;
    border-bottom: 0px #fff;
}

.footnotes li p{
    color: #9150c8;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1rem !important;
    margin-bottom: 0;
    
}

.footnotes{
    font-size: 0.8rem;
}

.post-content a{
    padding-bottom: 1px;
    border-bottom: 1px #9150c8 dotted;
}

h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    font-weight: normal;
    color: #9150c8;
    word-break: keep-all;
    word-wrap: break-all;
    letter-spacing: 1px;
    word-spacing: .5px;
}

h1 span{
}

body{
    font-family: 'Covik Sans Mono_Regular', sans-serif;
    pointer-events: initial;
}

.caption{
    font-size: 0.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center !important;
    word-break: keep-all;
    word-wrap: break-all;
    }

.listing{
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

div{
      overflow: scroll;
}

span{
    
}

/* backgroundframe */

.frame{
    left: 0;
    top: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/frame.png");
    background-size: 100vw 100vh;
    pointer-events: none;
    overflow: hidden;
}

.title{
    position: fixed;
    top: -50px;
    width: 800px;
    left: calc(50% - 400px);
    z-index: 500;
    pointer-events: auto;
}

.title-bottom{
    position: fixed;
    bottom: -140px;
    width: 800px;
    left: calc(50% - 400px);
    z-index: 500;
}

.logo-img{
    
}

.sticker-btn-wrapper{
    position: absolute;
    width: 220px;
    height: 100px;
    bottom: -20px;
    left: 0;
    z-index: 1500;
    pointer-events: none
}

#sticker-btn{
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 160px;
    height: 40px;
        z-index: 1500;
    cursor:pointer;
    -webkit-filter: drop-shadow( 0px 0px 20px #9150c8 ); 
    filter: drop-shadow( 0px 0px 20px #9150c8 );
    box-shadow: 0px 0px 1rem -.5rem #9150c8;
}


.wrapper{
    padding-left: 25vw;
    padding-right: 25vw;
}

.wrapper-text{
    padding-left: 20vw;
    padding-right: 33.33vw;
}

.conv_wrapper{
    padding-left: 12vw;
    padding-right: 12vw;
}

#menu{
    pointer-events: initial;
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 7000;
    background-color: #000;
    overflow: hidden;
    
}

#menu-list{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 35vw;
    height: 100%;
    z-index: 5000;
    pointer-events: initial;
    background-image: linear-gradient(#9150c8, rgba(255,0,0,0));
    overflow: hidden;
}

#menu-list ul{
    padding: 0 !important;
    margin: 0 !important;
    opacity: 100;
}

#menu-list li{
    padding: 1rem 2rem;
    font-size: calc(2rem / 1.25);
    font-color: #000 !important;
    color: #000 !important;
    list-style: none;
    text-decoration: none;
    border-bottom: 1px #000 solid;
    opacity: 1;

}

#menu-list li:hover{
    background-color: #000;
    color: #9150c8 !important;
}



/* main div */

.home{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: -100;
}

#video{
 position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.page-content{
    z-index: -10;
}

.post-list-text{
    width: 65vw;
    text-align: left;
    height: auto;
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: .75rem;
    padding-bottom: 0.75rem;
    border: 0px;
    background-color: #fff;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    box-shadow: 0px 0px 1rem -.5rem #9150c8;
    position: relative;
    left: 12.5vw;
    vertical-align: top;
    margin-bottom: 2rem;
}

.post-list-text:nth-of-type(even){
    left: 17.5vw;
}

.post-list-text:nth-of-type(1){
    margin-top: 5rem;
}

.post-list-text:hover{
    transform: translate(-0.25rem, -0.25rem);
}



.text-title{
    
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
    text-align-last: left;
    padding: 0;
    margin-bottom: 1rem;
    color: #9150c8;

}

.post-detail{
    text-align: left !important;
    text-align-last: left !important;
        color: #9150c8;

}

.post{
    padding-top: 10.5rem;
    padding-bottom: 12.5vw;
}

.post-text{
    padding-top: 10.5rem;
    padding-bottom: 12.5vw;
}

.conv-title-img{
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left:0;
    top:0;
    z-index: -500;
    vertical-align: middle;
    color: #fff !important;
}

.conv-title-img h1{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify !important;
    font-size: 3rem;
    color: #fff !important;
    margin-top: calc(50vh - 1.5rem);
    padding-bottom: 0;
}

.conv-title-img h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#conv-title{
    height: 3rem;
    overflow: hidden;
    line-height: 1rem;
}

.conv-title-img p{
    color: #fff !important;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.conv-post-content{
    margin-top: 110vh;
    color: #9150c8;
    text-align: justify;
    padding-bottom: 5rem;
}

.conv-post-content p a{
    border-bottom: 1px #9150c8 dotted;
}

.conv-post-content blockquote{
    padding-right: 30vw;
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
    margin-bottom: 0;
}
.conv-post-content blockquote p{
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
}

.conv-post-content p{
    padding-left: 30vw;
}

.conv-post-content .caption{
    padding-left: 15vw;
    padding-right: 15vw;
}

.conv-post-content img{
    width:70%;
    height: auto;
}

.post-header{
    margin-bottom: 2.5rem;}

.post-header-conv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
}

.post-header-conv h1{
    color: #fff;
}

.page-wrapper{
    width: 92.5vw !important;
    height: auto;
    padding-left: 2.5vw;
    padding-right: 5vw;
    padding-top: 20vh; 
    padding-bottom: 2.5rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -500;
    text-align: center !important;
    vertical-align: middle;
}

.post-list{
    width: 20vw;
    min-width: 320px;
    height: auto;
    display: block;
    position: relative; 
    vertical-align: middle;
    display: inline-grid;
    text-align: center !important;
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-bottom: 1.25vw;
    padding: 1rem;
    overflow: hidden;
}

.post-list img{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    /* background-color: rgba(145, 80, 200, 0.75) !important;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;*/
}

.post-list div{
    font-size: 1.25rem;
    line-height: 1.5rem;  
    color: #fff !important;
    position:absolute;
    width: 100%;
    height: auto;
    text-align: center;    
    margin-top: 60%;
    pointer-events: none;
}

.draggable{
    width: auto;
    height: auto;
    z-index: 5000;
    display: block;
    pointer-events: auto;
    width: auto;
    height: auto;
    min-width: 20px;
    min-height: 20px;
    max-height: 140px;
    max-width: 140px;
    cursor: grab;
    position: absolute;
}

.draggable:active{
    cursor: grabbing;
}


#prev{
    position: fixed;
    top: 29px;
    left: 29px;
    z-index: 50000;
    width:40px;
    height: 40px;
}

#next{
    position: fixed;
    bottom: 29px;
        width:40px;
    height: 40px;
    right: 29px;
    z-index: 50000;
}



@media (max-width: 600px) {
    .wrapper{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #menu-list{
        width: 70vw;
    }
    .title, .title-bottom{
        width: 80%;
    }
    .sticker-btn-wrapper, #sticker-btn{
        display: none;   
    }
}

@media (max-width: 1024px) {
    .wrapper{
        padding-left: 17.5vw;
        padding-right: 17.5vw;
    }
    #menu-list{
        width: 50vw;
    }
    .title{
        top: -8%;
        width: 70%;
        left: calc(50% - 35%);
    }
    .title-bottom{
        bottom: -17%;
        width: 70%;
        left: calc(50% - 35%);
    }
    
}