@font-face {
    font-family: 'slack';
    src: url('/assets/f/Slack-Light.woff2') format('woff2'),
         url('/assets/f/Slack-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/assets/f/NotoSerifKR-Light.woff2') format('woff2'),
         url('/assets/f/NotoSerifKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NanumGiBbeumBarkEum';
    src: url('NanumGiBbeumBarkEum.woff2') format('woff2'),
        url('NanumGiBbeumBarkEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.NotoSerif * {
 font-family: 'NotoSerif', serif;
}

span.ml-ko {
    font-family: 'NotoSerif', serif;
    font-size: 101%;
    font-weight: 300;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    /*below two lines are for baseline shift */
    position:relative;
    top: -0.01rem;
}


.ml-parentheses {
  /* specific style for parentheses */
  /* shifting baseline */
  position:relative;
font-size: 103%;
  top: -0.05rem;
}