---
# Only the main Sass file needs front matter (the dashes are enough)
---
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select : none
}


*
{
    padding: 0;
    margin: 0;
    border: 0;
}

.vimeo{
    position: relative;
    display: block;
    max-width: 100vw;
    padding-bottom: 56.25%;;
    overflow: hidden;
    height: 0;
    margin-top: 1.25vw;
}

.vimeo iframe,
.vimeo embed,
.vimeo object{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html{
    font-size: 20px;
}

p {hyphens: none;}

body {
    overflow:hidden;}


.bold{
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
}
.bold span {
    font-family: 'Noto Sans KR', sans-serif !important;
    letter-spacing: 7px;
    font-size: 75%; 
}

.bold a span:hover{
    letter-spacing: 50px !important; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited { text-decoration: none; color: inherit;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

hr{
    height: 1px;
    color: #0000ff;
    margin-top: 1.25vw;
    margin-bottom: 1.25vw;
    background-color: #0000ff;
}

.post-content{
    width: calc(100% - 7.5vw);
    height: auto;
    position: relative;
    left: 3.75vw;
    text-align: left;
}

.post-content p{
    line-height: 1.7rem;
    text-align: left;
    hyphens: none;
    color: blue;
    margin-bottom: 1.25rem;
    padding-left: 20vw;
    word-break: keep-all;
}

.GIQ-1{
    width: calc(100% - 15vw);
    padding: 3.75vw;
    padding-bottom: 10vh;
}

.GIQ-1 p{

    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2.5rem !important;
    padding-left: 0;
    word-break: break-all;
    text-align: justify;

}

.GIQ-2, .GIQ-4, .GIQ-5{

    width:100%;
    left:0;
    padding-bottom: 20vh;

}

.italics{font-style:italic;}

.GIQ-2 p{
   padding-left:0;
} 

.GIQ-3 p{
   padding-left:0;
} 

.GIQ-5 p{
   padding-left:0;
}

.GIQ-4 p{
    text-align: center;
    padding-left:0;
}

.GIQ-3 {
    width: calc(100vw - 20vw);
    height: calc(100vh - 20vw);
    left: 6vw;
    top: 6vw;
    z-index: 9999 !important;
    padding: 4vw;
    overflow-x:hidden;
    overflow-y:auto;
}

.GIQ-3 hr{
    color: #0000ff !important;
    background-color: #0000ff !important;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.GIQ-4-right{
    text-align: right !important;
    padding-left: 40vw !important;
}

.center{text-align: center !important;}

#containment-wrapper{
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 0 !important;
    margin: 0;
    padding:0;
    text-align: left;
}

#GIQ-3-img-wrapper{
    width: 35434px;
    height: 35434px;
    display: grid;
    overflow: hidden;
    grid-auto-flow:row dense;
    grid-template-rows:repeat(9, 3937px);
    grid-template-columns:repeat(9, 3937px);
    gap: 0;
}

.GIQ-3-img{
    width: 3937px !important;
    height: 3937px !important;
    float: left;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.GIQ-1 p .ml-ko{
    border-bottom: 1px #00FF00 solid;
    padding-bottom: 4px;
}


.GIQ-1 p .ml-punct{
    border-bottom: 1px #00FF00 solid;
    padding-bottom: 8px;
}

.GIQ-1 p .ml-en{
    border-bottom: 1px #00FF00 solid;
    padding-bottom: 8px;
}

.GIQ-1 p .ml-parentheses{
    border-bottom: 1px #00FF00 solid;
    padding-bottom: 8px;
}

#GIQ-2-wrapper{
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
    display: block;
    z-index: 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#GIQ-2-bg{
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(/img/GIQ-2/marble-bg.webp);
    background-size: 100% auto;
    display: block;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.randoms_window{
    width: 40vw;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 60000;
    left: 30vw;
    overflow: visible;
    cursor: help;
}

.float{
    display: none;
    position: absolute;
    z-index: 69999 !important;
    overflow: hidden;
    width: 50.625vh;
    height: 90vh;
    box-shadow: 0 4px 10px 2px rgba(0, 255, 0, 0.4);
}

.float:active{
    z-index: 90000;
}

.float:hover{
    z-index: 90000;
}

.flare{
    mix-blend-mode: screen;
    z-index: 899;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 10;
    opacity: 0.1;
}

.flare img{
    width: 100%;
    height: 100%;
}

.flare:hover{
    opacity: 1;
    animation: blink-animation 0.1s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.1s steps(5, start) infinite;
 
}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


#random_items_wrapper{
    margin-top: 50vh;
    width: 80vw;
    margin-left: 10vw;
    display: block;
    position: absolute;
    top:0;
    overflow:visible;
    height: calc(100% - 50vh);
}

#window_wrapper{
    width: 40vw;
    margin-left: 30vw;
    min-height: 6000px;
    height: calc(100% - 30px);
    display: block;
    position: relative;
    top:0;
    overflow: hidden;

}

#window{
    background-image: url(/img/GIQ-2/window.webp);
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 100%;
    width:100%;
    display: block;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.sky{
    font-size: 0;
    position: relative;
    display: block;
    top:0;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-size: 200% auto;
    background-position: left top;
    line-height: 0;
    text-align: center;
}

.sky img{
    width: 200%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

.GIQ-2-deco{
    position: absolute;
    margin-top: 20vw;
    width: 15vw;
    min-height: calc(100vh - 2px);
    height: calc(100% - 20vw);
    overflow: auto;
    background-image: url(/img/GIQ-2/deco-1.webp);
    background-repeat: repeat-y;
    background-size: 100% auto;
    display: block;
}

.randoms{
    position: absolute;
    max-width: 70vw;
    z-index: 70000;
}

.randoms img{
    min-width: 30vw;
    max-width: 70vw;
}

#service{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-left: 7.5vw;
    margin-right: 0 !important;
    display: none;
}

#service iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#GIQ-btn-2{
    height: auto;
    display: block;
    text-align: left;
    overflow: visible;
    width: calc(640px + 7.5vw);
    z-index: 9999;
}

#GIQ-btn-2-img{}
#GIQ-2-wrapper .left{
    left: 2vw;
}

#GIQ-2-wrapper .right{
    right: 2vw;
}

.post-content hr{
    color: #00ff00 !important;
    background-color: #00ff00 !important;
    width: 100%;
    position: relative;
    margin-top: 3.75vw !important;
}

.post-content a:hover{
    padding-bottom: 1px;
    border-bottom: 1px #00ff00 solid;
    
}

.post-content .caption{
    text-align: center;
    padding: 0.25rem 0 0.25rem 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.22rem !important;
    
}

.post-content li{
    color: blue;
    text-align: left;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
    margin-bottom: 0;
}

blockquote p{
    padding: 2rem;
    border-bottom: 1px #00FF00 solid;
    border-top: 1px #00FF00 solid;
}

blockquote {
    margin-bottom: 2rem;
}

.post-header p{
    text-align: center;
    color: #00FF00;
}

.post-content sup a{
    margin-left: 2px;
    border-bottom: 0px #fff;
}

.footnotes li p{
    color: blue;
    text-align: left;
    line-height: 1.25rem !important;
    margin-bottom: 0;
}

.footnotes{
    font-size: 0.8rem;
    overflow: hidden;
}


h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    font-weight: normal;
    color: blue;
    word-break: keep-all;
    word-wrap: break-all;
    letter-spacing: 1px;
    word-spacing: .5px;
}

h1 span{
}

body{
    font-family: 'slack', serif;
    pointer-events: initial;
}

.caption{
    font-size: 0.8rem !important;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: left;
    word-break: keep-all;
    word-wrap: break-all;
    }

.listing{
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

div{
      overflow: auto;
}

span{
    
}

.G-blur{
    background-color: #00FF00;
    box-shadow: 0px 0px 0.5rem 0.5rem rgba(0, 255, 0, 1);
    opacity: 0.99;
    z-index: 0 !important;
    border-radius: 0.5rem;
}

.G-innershadow{
    border: 1px;
    border-color: #00FF00;
    background-color: silver;
    box-shadow: inset 0px 0px .5rem rgba(0, 0, 0, .5);
    outline: 1px solid #00ff00;
    outline-offset: -1px;
    border-radius: 0 !important;
}

/* backgroundframe */

.wrapper{
    margin: 2.5vw;
    height: calc(100vh - 5vw);
    overflow: hidden;
}

.wrapper_GIQ {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.wrapper-text{

}

/* GIQ.html elements */

.page-content{
    background-color: silver;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    outline: 1px solid #00ff00;
    outline-offset: -1px;
}

#about{
    position: fixed;
    top: 0.25rem;
    left: 0rem;
    width: 100vw;
    height: 4rem;
    text-align: center;
    overflow: hidden;
}

#about:hover{
    cursor: pointer;
}


.about-bg{
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: 1rem !important;
}

.about-txt{
    width: calc(100% - 4rem);
    position: absolute;
    left: 2rem;
    top: 1.25rem;
    height: 2rem;
    vertical-align: middle;
    z-index: 100 !important;
    text-align: center;
}
.about-txt:hover {
    cursor: pointer;
}

.about-txt img{
    height: 1.25rem;
    width: auto;
    z-index: 100 !important;
}


#about-full{
    overflow: hidden;
    position: fixed;
    width: calc(100% - 1rem);
    height: calc(100% - 2rem);
    top: 1rem;
    left: .5rem;
    overflow-y: scroll;
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.about-full-txt {
    color: blue;
    top: 60vh;
    position: relative;
    width: calc(100% - 31vw);
    word-break: keep-all;
    left: 3rem;
    margin: 0;
    float: left;
}

.about-full-txt p{
    margin-bottom: 1rem;
}

.about-full-credit {
    color: blue;
    top: 60vh;
    position: relative;
    width: 20vw;
    word-break: keep-all;
    left: 2.5rem;
    margin: 0;
    float: left;
}
.about-full-credit p{
    margin-bottom: 1rem;
}

.about-full-bg {
    position: fixed;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    left: 1.5rem;
    top: 1.5rem;
}

.about-full-title{
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 2.5rem;
    background-size: 95vw auto;
    text-align: center;
}

.about-full-title img{
    max-width: 95vw;
    width: 95vw;
    height: auto;
    max-height: 57.5vh;
    position:relative;
    top: 3rem;
}

#title-main {}
#title-main-sub {}

.scroller{
    width:100vw;
    height:100vh;
    overflow:hidden;
    top: 5vh;
    left:0;
    top:0;
    position: absolute;
    background-repeat: repeat-y;
    background-size: 100vw auto;
    background-position: center top;
    float: left;
    list-style: none;
    text-align: center;
    
}

.scroller li{
    height: 100vh;
    width: 100vw;
    background-repeat: repeat-y;
    background-size: 100vw auto;
    background-position: center 1.5rem;
    float: left;
    list-style: none;
}

.link-box{
    position: absolute;
    left: 0;
    bottom: 0 !important;
    height: calc(100% - 65vh);
    width: calc(100% - 4rem);
    padding: 2rem;
    overflow: hidden;
}

.link{
    position: relative;
    float: left; 
    height: 100%;
    width: calc(50% - 1rem);
    overflow: hidden;
    background-size: 90% auto cover;
}

.link:hover{
    opacity: 0;
    cursor: pointer;
}

div.link-box div + div {
    margin-left: 2rem; /* or 10% or whatever */
        
}

.link-default{
    overflow: hidden;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
}

.link-hover{
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: calc(100% - 4rem);
    width: calc(50% - 3rem);
    margin: 0 !important;
}

.link-hover-bg{
    overflow: hidden;
    height: calc(100% - 4rem);
}

.link-hover-txt{
    position: absolute;
    height: calc(100% - 4rem);
    width: calc(50% - 3rem);
    display: block;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    margin: 0 !important;
}


/* Screening */

.artist-name {
    float: left;
    position: relative;
    width: 17.5vw;
    margin-right: 2.5vw;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.8rem;
    line-height: 1.2rem !important;
    border-top: 1px #00ff00 solid;
    padding-top: 1.25vw !important;
    border-bottom: none !important;
    word-break: break-all;
}

.numbering {
    float: left;
    position: relative;
    width: 17.5vw;
    padding-left: 0 !important;
    padding-right: 0 !important;
    left: 0vw;
}

.artist-description{
    float: left;
    position: relative;
    width: calc(100% - 20vw);
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.8rem;
    line-height: 1.2rem !important;
    margin-bottom: 2.5vw !important;
    border-top: 1px #00ff00 solid;
    padding-top: 1.25vw !important;
    border-bottom: none !important;
}

#close-left, #close-left-g, #close-right, #close-right-g, #close-b-left, #close-b-left-g, #close-b-right, #close-b-right-g:hover{
    cursor: pointer;
}

#close-left, #close-left-g, #close-right, #close-right-g, #close-b-left, #close-b-left-g, #close-b-right, #close-b-right-g{
    position: fixed; margin: 5vw; height: 5rem; width: 5rem; z-index: 9999;
}

#close-left, #close-right, #close-b-left, #close-b-right{
    margin: 5vw;
}

#close-left{background: url('/assets/SVG/arrow-left.svg') no-repeat left top ;}
#close-left-g{background: url('/assets/SVG/arrow-left-g.svg') no-repeat left top ;}
#close-right{background: url('/assets/SVG/arrow.svg') no-repeat right top ;}
#close-right-g{background: url('/assets/SVG/arrow-g.svg') no-repeat right top ;}
#close-b-left{background: url('/assets/SVG/arrow-b-left.svg') no-repeat left bottom ;}
#close-b-left-g{background: url('/assets/SVG/arrow-b-left-g.svg') no-repeat left bottom ;}
#close-b-right{background: url('/assets/SVG/arrow-b.svg') no-repeat right bottom ;}
#close-b-right-g{background: url('/assets/SVG/arrow-b-g.svg') no-repeat right bottom ;}

#close-left, #close-left-g { left: 0; top: 0; }

#close-right, #close-right-g{ right: 0; top: 0; }

#close-b-left, #close-b-left-g{ left: 0; bottom: 0; }

#close-b-right, #close-b-right-g{ right: 0; bottom: 0; }

.p-arrow { margin: 3vw !important;  }


/* Projects */

.GIQ-post-list{
    display: block;
    position: absolute; 
    overflow: hidden;
    animation-iteration-count: infinite; 
    z-index: 500000;
}

@keyframes GIQ-1 { 
    from {
    transform: rotate(-0.001deg) translate3d(1px, 0, 0) rotate(-0.001deg);}
    to {transform: rotate(-360.001deg) translate3d(1px, 0, 0) rotate(360.001deg);}   
} 

@keyframes GIQ-2 { 
    from {
    transform: rotate(0.001deg) translate3d(2px, 0, 0) rotate(0.001deg);}
    to {transform: rotate(360.001deg) translate3d(2px, 0, 0) rotate(-360.001deg);}   
} 

@keyframes GIQ-3 { 
    from {
    transform: rotate(-0.001deg) translate3d(4px, 0, 0) rotate(-0.001deg);}
    to {transform: rotate(360.001deg) translate3d(4px, 0, 0) rotate(-360.001deg);}   
} 

@keyframes GIQ-4 { 
    from {
    transform: rotate(-0.001deg) translate3d(3px, 0, 0) rotate(-0.001deg);}
    to {transform: rotate(-360.001deg) translate3d(3px, 0, 0) rotate(360.001deg);}   
} 

@keyframes GIQ-5 { 
    from {
    transform: rotate(-0.001deg) translate3d(2px, 0, 0) rotate(-0.001deg);}
    to {transform: rotate(360.001deg) translate3d(2px, 0, 0) rotate(-360.001deg);}   
} 

@keyframes GIQ-6 { 
    from {
    transform: rotate(0.001deg) translate3d(3px, 0, 0) rotate(0.001deg);}
    to {transform: rotate(360.001deg) translate3d(3px, 0, 0) rotate(-360.001deg);}   
} 

.GIQ-post-list:hover{
    cursor: pointer;
}


.GIQ-caption {
    margin-top: -1.5rem !important;
    margin-bottom: 1.25rem !important;
    
}


.GIQ-caption span{
    border-bottom: none !important;
}


.artist-name span{
    border-bottom: none !important;
    font-family: 'NotoSerif' !important;
    font-size: calc(0.8rem * 1.01);
    
}


.artist-description span{
    border-bottom: none !important;
    font-family: 'NotoSerif' !important;
    font-size: calc(0.8rem * 1.01);
    line-height: 1.2rem !important;
}


/* main div */

.home{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: -100;
}

#video{

}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.post-list-text{
    width: 65vw;
    text-align: left;
    height: auto;
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: .75rem;
    padding-bottom: 0.75rem;
    border: 0px;
    background-color: #fff;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    box-shadow: 0px 0px 1rem -.5rem #9150c8;
    position: relative;
    left: 12.5vw;
    vertical-align: top;
    margin-bottom: 2rem;
    word-break: keep-all;
}

.post-list-text:nth-of-type(even){
    left: 17.5vw;
}

.post-list-text:nth-of-type(1){
    margin-top: 5rem;
}

.post-list-text:hover{
    transform: translate(-0.25rem, -0.25rem);
}


.text-title{
    
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
    text-align-last: left;
    padding: 0;
    margin-bottom: 1rem;
    color: #9150c8;

}

.post-detail{
    text-align: left !important;
    text-align-last: left !important;
    color: #9150c8;

}

.post{
    height: 100%;
    overflow: auto;
}

.post-text{
    padding-top: 10.5rem;
    padding-bottom: 12.5vw;
}

.conv-title-img{
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left:0;
    top:0;
    z-index: -500;
    display: table;
    color: #fff !important;
    background-color: rgba(145, 80, 200, 0.2) !important;
    background-blend-mode: multiply;
    background-attachment: fixed;
    -moz-text-align-last: center;
    text-align-last: center;
}

.conv-title-img-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.conv-title-img h1{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify !important;
    font-size: 3rem;
    color: #fff !important;
    padding-bottom: 0;
    line-height: 4.5rem;
    -moz-text-align-last: center;
    text-align-last: center;
    vertical-align: middle;
}

.conv-title-img h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.conv-title-img p{
    color: #fff !important;
    font-size: 0.8rem;
    margin-top: -1rem;
}


#conv-title{
    height: 3rem;
    overflow: hidden;
    line-height: 1rem;
}

.conv-post-content{
    margin-top: 110vh;
    color: #9150c8;
    text-align: justify;
    padding-bottom: 5rem;
}

.conv-post-content p a{
    border-bottom: 1px #9150c8 dotted;
    padding-bottom: 1px;
}

.conv-post-content hr + p{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}


.conv-post-content blockquote{
    padding-right: 30vw;
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
    margin-bottom: 0;
}
.conv-post-content blockquote p{
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
}

.conv-post-content p{
    padding-left: 30vw;
}

.conv-post-content .caption{
    padding-left: 15vw;
    padding-right: 15vw;
}

.conv-post-content img{
    min-width: 300px;
    height: auto;
    max-width:100%;
}

.post-content img{
    min-width: 300px;
    height: auto;
    max-width:100%;
}

.post-header{

}

.post-header-conv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
}

.post-header-conv h1{
    color: #fff;
}

.page-wrapper{
    width: 92.5vw !important;
    height: auto;
    padding-left: 2.5vw;
    padding-right: 5vw;
    padding-top: 20vh; 
    padding-bottom: 2.5rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -500;
    text-align: center !important;
    vertical-align: middle;
}

.post-list{
    width: 20vw;
    min-width: 320px;
    height: auto;
    display: block;
    position: relative; 
    vertical-align: middle;
    display: inline-grid;
    text-align: center !important;
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-bottom: 1.25vw;
    padding: 1rem;
    overflow: hidden;
}

.post-list img{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    /* background-color: rgba(145, 80, 200, 0.75) !important;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;*/
}

.post-list div{
    font-size: 1.25rem;
    line-height: 1.5rem;  
    color: #fff !important;
    position:absolute;
    width: 100%;
    height: auto;
    text-align: center;    
    margin-top: 60%;
    pointer-events: none;
    overflow: hidden;
}

.draggable{
    cursor: grab;
    z-index: 70000;
}

.draggable:active{
    cursor: grabbing;
    z-index: 80000;
}

#prev{
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 50000;
    width:40px;
    height: 40px;
}

#next{
    position: fixed;
    bottom: 1.25rem;
        width:40px;
    height: 40px;
    right: 1.25rem;
    z-index: 50000;
}


@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 1024px)
    and (orientation:landscape) {
   
        html{font-size: 16px;}
        hr{ margin-bottom: 1.4vw !important; }
        
        .ml-parentheses{padding-bottom: 7px !important;}
        .ml-en{padding-bottom: 7px !important;}
        .ml-punct{padding-bottom: 7px !important;}
        .numbering, .artist-name, .about-full-credit, .about-full-txt, .artist-description{width:100%; line-height: 1.4rem !important;  padding-top: 1.4vw !important;}
        
        .post-content p { padding-left:0; width:100%;}
        .caption { font-size: 0.7rem !important; }
        
        #close-left-g, #close-right-g, #close-b-left-g, #close-b-right-g, #close-left, #close-right, #close-b-left, #close-b-right  {height: 4rem; width: 4rem;}
        .about-full-credit, .about-full-txt {top:60vw; width: calc(95vw - 4rem); left:2rem; padding-bottom: 20vh; }
        .about-full-credit {text-align: center; left:2rem;}
        .GIQ-4-right{    width: calc(100% - 40vw) !important;}
        #close-left, #close-left-g, #close-right, #close-right-g, #close-b-left, #close-b-left-g, #close-b-right, #close-b-right-g{
    height: 4rem; width: 4rem; z-index: 9999;
}
        
        #GIQ-1{ }
        #GIQ-2{ width: 50vw !important; top: 63vh !important; left: 32vw !important; }
        #GIQ-3{  width: 2.5vw !important; top: 10vh !important; }
        #GIQ-4{ width: 25vw !important; left: 22.5vw !important; top: 45vh !important; }
        #GIQ-5{ }
        #GIQ-6{ width: 3.5vw !important; }
                
        
        /*
    .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    
    
    .page-wrapper{
        padding-top: 0vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 75vw;
    }
    
    .post-list img{
        width: 75vw;
        min-width:75%; 
        max-width:100%;
    }

    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 15vw;
    }
    .conv-post-content p{
        padding-left: 15vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    .post-text{
        padding-top: 6rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 75%;
        left: calc(50% - 37.5%);
    }
    .title-bottom{
        bottom: -90px;
        width: 75%;
        left: calc(50% - 37.5%);
    } */

}


@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 1024px) 
    and (orientation:portrait) {
        
        html{font-size: 16px;}
        hr{ margin-bottom: 1.4vw !important; }
        
        .ml-parentheses{padding-bottom: 7px !important;}
        .ml-en{padding-bottom: 7px !important;}
        .ml-punct{padding-bottom: 7px !important;}
        .numbering, .artist-name, .about-full-credit, .about-full-txt, .artist-description{width:100%; line-height: 1.4rem !important;  padding-top: 1.4vw !important;}
        
        .post-content p { padding-left:0; width:100%;}
        .caption { font-size: 0.7rem !important; }
        
        #close-left-g, #close-right-g, #close-b-left-g, #close-b-right-g, #close-left, #close-right, #close-b-left, #close-b-right  {height: 4rem; width: 4rem;}
        .about-full-credit, .about-full-txt {top:60vw; width: calc(95vw - 4rem); left:2rem; padding-bottom: 20vh; }
        .about-full-credit {text-align: center; left:2rem;}
        .GIQ-4-right{ width: calc(100% - 40vw) !important;}
        
        #close-left, #close-left-g, #close-right, #close-right-g, #close-b-left, #close-b-left-g, #close-b-right, #close-b-right-g{
    height: 6rem; width: 6rem; z-index: 9999;}

#close-left, #close-right, #close-b-left, #close-b-right{margin: 9vw;}
        
        #GIQ-1{ width: 40vw !important; top: 56vh !important; }
        #GIQ-2{ width: 80vw !important; top: 80vh !important; left: 10vw !important;}
        #GIQ-3{ width: 5vw !important; top: 30vh !important; }
        #GIQ-4{ width: 40vw !important; top: 48vh !important; left: 25vw !important; }
        #GIQ-5{ width: 40vw !important; top: 27vh !important; left: 35vw !important;}
        #GIQ-6{ width: 7vw !important; top: 20vh !important;}
        
        
        a.randoms img{ min-width: 30vw !important; max-width: 70vw !important;}
        
        .float, .slide{ height: 60vh !important; width: 33.75vh !important;}
        .slide-items{line-height: 60vh !important;}
        

    /* .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .page-wrapper{
        padding-top: 0vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 75vw;
    }
    
    .post-list img{
        width: 80vw;
        min-width:80%; 
        max-width:100%;
    }
    
    
    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 6.25vw;
    }
    .conv-post-content p{
        padding-left: 6.25vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    
    .post-text{
        padding-top: 6rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 100%;
        left: calc(50% - 50%);
    }
    
    .title-bottom{
        bottom: -60px;
        width: 100%;
        left: calc(50% - 50%);
    } */
 
}

@media screen and (min-width: 1024px) {
    
   
    
    /*html{font-size: 20px;}
    .wrapper{padding-left: 17.5vw; padding-right: 17.5vw;}
    .post-text{padding-top: 10rem;}
    .title{top: -60px; width:65%; left:calc(50% - 32.5%);}
    .title-bottom{bottom: -170px; width:65%; left:calc(50% - 32.5%);}*/
}

/*

@media screen and (max-width: 979px) {
    .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    html{
        font-size: 16px;
    }
    
    .page-wrapper{
        padding-top: 12.5vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 50vw;
    }
    
    .post-list img{
        width: 75vw;
        min-width:75%; 
        max-width:100%;
    }
    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin-top: calc(50vh - 2.25rem);
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 12.5vw;
    }
    .conv-post-content p{
        padding-left: 12.5vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    .post-text{
        padding-top: 7.5rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 75%;
        left: calc(50% - 37.5%);
    }
    .title-bottom{
        bottom: -90px;
        width: 75%;
        left: calc(50% - 37.5%);
    }

}
*/
