---
# Only the main Sass file needs front matter (the dashes are enough)
---

*
{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 20px;
}

p {hyphens: none;}

a {
    text-decoration: none;
    color: inherit;
}

a:visited { text-decoration: none; color: inherit;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

hr{
    height: 1px;
    color: #00FF00;
    margin-top: 5rem;
    margin-bottom: 1rem;
    background-color: #00FF00;
}

.post-content{
    text-align: left;
}

.post-content p{
    line-height: 1.5rem;
    text-align: left;
    hyphens: none;
    color: blue;
    margin-bottom: 1.25rem;
}

.post-content .caption{
    line-height: 1.25rem !important;
    
}
.post-content li{
    color: blue;
    text-align: left;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
    margin-bottom: 0;
}

blockquote p{
    padding: 2rem;
    border-bottom: 1px #00FF00 solid;
    border-top: 1px #00FF00 solid;
}

blockquote {
    margin-bottom: 2rem;
}

.post-header p{
    text-align: center;
    color: #00FF00;
}

.post-content sup a{
    margin-left: 2px;
    border-bottom: 0px #fff;
}

.footnotes li p{
    color: blue;
    text-align: left;
    line-height: 1.25rem !important;
    margin-bottom: 0;
}

.footnotes{
    font-size: 0.8rem;
    overflow: hidden;
}

.post-content a{
    padding-bottom: 1px;
    border-bottom: 1px blue dotted;
}

h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    font-weight: normal;
    color: blue;
    word-break: keep-all;
    word-wrap: break-all;
    letter-spacing: 1px;
    word-spacing: .5px;
}

h1 span{
}

body{
    font-family: 'slack', serif;
    pointer-events: initial;
}

.caption{
    font-size: 0.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: left;
    word-break: keep-all;
    word-wrap: break-all;
    }

.listing{
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

div{
      overflow: auto;
}

span{
    
}

.G-blur{
    background-color: #00FF00;
    filter:blur(0.5rem);
    border-radius: 0.5rem;
    z-index: 0 !important;
}

.G-innershadow{
    border: 1px;
    border-color: #00FF00;
    background-color: silver;
    box-shadow: inset 0px 0px .5rem rgba(0, 0, 0, .5);
    outline: 1px solid #00ff00;
    outline-offset: -1px;
}

/* backgroundframe */

.title{

}

.logo-img{
}


.wrapper{
    padding-left: 25vw;
    padding-right: 25vw;
}

.wrapper-text{
    padding-left: 20vw;
    padding-right: 33.33vw;
}


/* GIQ.html elements */

.page-content{
    background-color: silver;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    outline: 1px solid #00ff00;
    outline-offset: -1px;
}

.about{
    position: fixed;
    top: 0.25rem;
    left: 0rem;
    width: 100vw;
    height: 4rem;
    text-align: center;
    overflow: hidden;
}

.about-bg{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    height: 2rem !important;
}

.about-txt{
    width: calc(100% - 4rem);
    position: absolute;
    left: 1rem;
    height: 4rem;
    vertical-align: middle;
    z-index: 100 !important;
    padding: 1rem;
}

.about-txt img{
    height: 1.5rem;
    width: auto;
    z-index: 100 !important;
}

.about:hover {
    cursor: pointer;
}

.about-full{
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.about-full-txt {
    color: blue;
    top: 65vh;
    padding: 1rem;
    position: relative;
    width: 50vw;
    line-height: 1.5rem;
    word-break: keep-all;
    left: 2rem;
    margin: 0;
    float: left;

}

.about-full-credit {
    color: blue;
    top: 65vh;
    padding: 1rem;
    position: relative;
    width: 25vw;
    line-height: 1.5rem;
    word-break: keep-all;
    left: 3vw;
    margin: 0;
    float: left;
}

.about-full-bg {
    position: fixed;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    left: 1rem;
    top: 1rem;
}

#title-main {}
#title-main-sub {}

.scroller{
    width:100vw;
    height:95vh;
    overflow:hidden;
    top: 5vh;
    left:0;
    top:0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 90vw auto;
    background-position: center top;
    float: left;
    list-style: none;
}

.scroller li{
    height: 100vh !important;
    width: 100vw !important;
    background-repeat: no-repeat;
    background-size: 90vw auto;
    background-position: center top;
    float: left;
    list-style: none;
}

.link-box{
    position: absolute;
    left: 0;
    bottom: 0 !important;
    height: calc(100% - 65vh);
    width: calc(100% - 4rem);
    padding: 2rem;
    overflow: hidden;
}

.link{
    position: relative;
    float: left; 
    height: 100%;
    width: calc(50% - 1rem);
    overflow: hidden;
}

.link:hover{
    opacity: 0;
    cursor: pointer;
}

div.link-box div + div {
    margin-left: 2rem; /* or 10% or whatever */
        
}

.link-default{
    overflow: hidden;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.link-hover{
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    height: 85%;
    width: calc(50% - 2rem);
    margin: 0 !important;
    filter:blur(1rem);
}

.link-hover-bg{
    overflow: hidden;
    height: 100%;
}

.link-hover-txt{
    position: absolute;
    height: 80%;
    width: calc(50% - 3rem);
    display: block;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 40%;
    margin: 0 !important;
}

/* main div */

.home{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: -100;
}

#video{

}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.post-list-text{
    width: 65vw;
    text-align: left;
    height: auto;
    padding-left:1rem;
    padding-right: 1rem;
    padding-top: .75rem;
    padding-bottom: 0.75rem;
    border: 0px;
    background-color: #fff;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    box-shadow: 0px 0px 1rem -.5rem #9150c8;
    position: relative;
    left: 12.5vw;
    vertical-align: top;
    margin-bottom: 2rem;
    word-break: keep-all
}

.post-list-text:nth-of-type(even){
    left: 17.5vw;
}

.post-list-text:nth-of-type(1){
    margin-top: 5rem;
}

.post-list-text:hover{
    transform: translate(-0.25rem, -0.25rem);
}


.text-title{
    
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
    text-align-last: left;
    padding: 0;
    margin-bottom: 1rem;
    color: #9150c8;

}

.post-detail{
    text-align: left !important;
    text-align-last: left !important;
    color: #9150c8;

}

.post{
    padding-top: 10.5rem;
    padding-bottom: 12.5vw;
}

.post-text{
    padding-top: 10.5rem;
    padding-bottom: 12.5vw;
}

.conv-title-img{
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left:0;
    top:0;
    z-index: -500;
    display: table;
    color: #fff !important;
    background-color: rgba(145, 80, 200, 0.2) !important;
    background-blend-mode: multiply;
    background-attachment: fixed;
    -moz-text-align-last: center;
    text-align-last: center;
}

.conv-title-img-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.conv-title-img h1{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: justify !important;
    font-size: 3rem;
    color: #fff !important;
    padding-bottom: 0;
    line-height: 4.5rem;
    -moz-text-align-last: center;
    text-align-last: center;
    vertical-align: middle;
}

.conv-title-img h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.conv-title-img p{
    color: #fff !important;
    font-size: 0.8rem;
    margin-top: -1rem;
}


#conv-title{
    height: 3rem;
    overflow: hidden;
    line-height: 1rem;
}

.conv-post-content{
    margin-top: 110vh;
    color: #9150c8;
    text-align: justify;
    padding-bottom: 5rem;
}

.conv-post-content p a{
    border-bottom: 1px #9150c8 dotted;
    padding-bottom: 1px;
}

.conv-post-content hr + p{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}


.conv-post-content blockquote{
    padding-right: 30vw;
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
    margin-bottom: 0;
}
.conv-post-content blockquote p{
    padding-left: 0 !important;
    border: 0px !important;
    text-align: justfy;
}

.conv-post-content p{
    padding-left: 30vw;
}

.conv-post-content .caption{
    padding-left: 15vw;
    padding-right: 15vw;
}

.conv-post-content img{
    min-width: 300px;
    height: auto;
    max-width:100%;
}

.post-content img{
    min-width: 300px;
    height: auto;
    max-width:100%;
}

.post-header{
    margin-bottom: 2.5rem;
}

.post-header-conv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
}

.post-header-conv h1{
    color: #fff;
}

.page-wrapper{
    width: 92.5vw !important;
    height: auto;
    padding-left: 2.5vw;
    padding-right: 5vw;
    padding-top: 20vh; 
    padding-bottom: 2.5rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -500;
    text-align: center !important;
    vertical-align: middle;
}

.post-list{
    width: 20vw;
    min-width: 320px;
    height: auto;
    display: block;
    position: relative; 
    vertical-align: middle;
    display: inline-grid;
    text-align: center !important;
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-bottom: 1.25vw;
    padding: 1rem;
    overflow: hidden;
}

.post-list img{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow( 0px 0px 7px #9150c8 ); 
    filter: drop-shadow( 0px 0px 7px #9150c8 );
    /* background-color: rgba(145, 80, 200, 0.75) !important;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;*/
}

.post-list div{
    font-size: 1.25rem;
    line-height: 1.5rem;  
    color: #fff !important;
    position:absolute;
    width: 100%;
    height: auto;
    text-align: center;    
    margin-top: 60%;
    pointer-events: none;
    overflow: hidden;
}

.draggable{
    width: auto;
    height: auto;
    display: block;
    pointer-events: auto;
    cursor: grab;
    z-index: 5000;
}

.draggable:active{
    cursor: grabbing;
    z-index: 9999;
}

#prev{
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 50000;
    width:40px;
    height: 40px;
}

#next{
    position: fixed;
    bottom: 1.25rem;
        width:40px;
    height: 40px;
    right: 1.25rem;
    z-index: 50000;
}


@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 736px)
    and (orientation:landscape) {
    .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    html{
        font-size: 16px;
    }
    
    .page-wrapper{
        padding-top: 0vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 75vw;
    }
    
    .post-list img{
        width: 75vw;
        min-width:75%; 
        max-width:100%;
    }

    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 15vw;
    }
    .conv-post-content p{
        padding-left: 15vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    .post-text{
        padding-top: 6rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 75%;
        left: calc(50% - 37.5%);
    }
    .title-bottom{
        bottom: -90px;
        width: 75%;
        left: calc(50% - 37.5%);
    }

}


@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 736px) 
    and (orientation:portrait) {

    .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    html{
        font-size: 16px;
    }
    
    .page-wrapper{
        padding-top: 0vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 75vw;
    }
    
    .post-list img{
        width: 80vw;
        min-width:80%; 
        max-width:100%;
    }
    
    
    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 6.25vw;
    }
    .conv-post-content p{
        padding-left: 6.25vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    
    .post-text{
        padding-top: 6rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 100%;
        left: calc(50% - 50%);
    }
    
    .title-bottom{
        bottom: -60px;
        width: 100%;
        left: calc(50% - 50%);
    }
 

}

@media screen and (min-width: 980px) {
    /*html{font-size: 20px;}
    .wrapper{padding-left: 17.5vw; padding-right: 17.5vw;}
    .post-text{padding-top: 10rem;}
    .title{top: -60px; width:65%; left:calc(50% - 32.5%);}
    .title-bottom{bottom: -170px; width:65%; left:calc(50% - 32.5%);}*/
}

/*

@media screen and (max-width: 979px) {
    .wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    html{
        font-size: 16px;
    }
    
    .page-wrapper{
        padding-top: 12.5vh;
    }
    
    .post{
        padding-top: 7rem;
    }
    
    .conv_wrapper{
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    #menu-list{
        width: 50vw;
    }
    
    .post-list img{
        width: 75vw;
        min-width:75%; 
        max-width:100%;
    }
    .conv-title-img h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin-top: calc(50vh - 2.25rem);
    }
    
    .conv-title-img p{
        margin-top: -2rem;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
    
    .conv-post-content blockquote{
        padding-right: 12.5vw;
    }
    .conv-post-content p{
        padding-left: 12.5vw;
    }
    
    .conv-post-content .caption{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
    .post-text{
        padding-top: 7.5rem;
    }
    
    .caption{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .title{
        top: -30px;
        width: 75%;
        left: calc(50% - 37.5%);
    }
    .title-bottom{
        bottom: -90px;
        width: 75%;
        left: calc(50% - 37.5%);
    }

}
*/
