---
layout: default
---
<div class="conv_wrapper">

<article class="h-entry" itemscope temtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="conv-title-img" style="background-image:url('/img/{{  page.folder }}/1.png')">
    
    <h1 id="#conv-title" class="p-name" itemprop="name headline">{{ page.title | escape }} </h1>   <p>{{ page.caption }}</p>
    </div>
  </header>

  <div markdown="1" class="conv-post-content e-content" itemprop="articleBody">
      <p class="caption">
          {{ page.artist-ko }}
      </p>
      <p class="caption"> 
          {% for item in page.link %}
          <a href="{{ item in page.link }}" target="_blank">
               {{ item in page.link }}</a>
           <br>
      {% endfor %}
      </p>
      <br>
      <p class="caption" style="margin-bottom: 2rem;">{{ page.authordescription}}</p>

      {{ content }}
      
      
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
    
</div>


{% if page.previous_in_category != nil %}
	<a href="javascript:history.back()" id="prev"><img src="/assets/SVG/forward.svg"></a>
{% endif %}

{% if page.next_in_category != nil %}
	<a href="{{ page.next_in_category.url }}" id="next"><img src="/assets/SVG/next.svg"></a>
{% endif %}