---
layout: default-GIQ
---

<div class="wrapper G-blur">

<div class="wrapper G-innershadow" style="margin: 0vw;">
<article class="post h-entry" itemscope temtype="http://schema.org/BlogPosting">

  <div class="post-header" style="text-align: center; padding-top: 1.5vw;">
   <img src="/assets/SVG/Screening-header.svg" style="max-width: 70vw; min-width: 300px; ">
  </div>

  <div class="post-content e-content" id="lorem" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    
     <div id="close-left-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-right-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-b-left-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-b-right-g" onclick="location.href='../GIQ'"> </div>
</article>
</div>
</div>