---
layout: default-GIQ-2
---

<div class="wrapper_GIQ" style="overflow-y:scroll !important;">

<article class="post h-entry" itemscope temtype="http://schema.org/BlogPosting" style="padding: 2.5vw; overflow-y: auto;">
    
    
<!-- 박보마 페이지 div -->
 <div ID="GIQ-2-wrapper" >
     
     <!-- BG -->
    <div ID="GIQ-2-bg">
        <div class="GIQ-2-deco left"></div>
        <div class="GIQ-2-deco right"></div>
     
    <!-- 오디오 플레이어 -->
        
    <audio loop autoplay id='bgAudio'>
        <source src="/img/GIQ-2/sex_com.mp3" type="audio/mp3"></source>
        <source src="/img/GIQ-2/sex_com.ogg" type="audio/ogg"></source>
        <source src="/img/GIQ-2/sex_com.oga" type="audio/oga"></source>
    </audio>

    
    <audio id='logoAudio'>
	<source src="/img/GIQ-2/logo.wav" type="audio/wav"></source>
    <source src="/img/GIQ-2/logo.ogg" type="audio/ogg"></source>
	</audio>    
    
     <!-- Page elements -->
    <img src="/img/GIQ-2/title.webp" style="width: 65vw;" id='logo-img'><br>
    <img src="/img/GIQ-2/title2.webp" style="width: 20vw;">
    
        <!-- img slider -->
        <div class="randoms_window" id="w1"> 
            <div class="float draggable" id="slide1">
                    <div data-slide="slide1" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/1.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/2.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/3.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/4.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/5.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/6.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/7.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/8.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/9.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/10.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w2">
<div class="float draggable" id="slide2">
                    <div data-slide="slide2" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/11.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/12.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/13.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/14.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/15.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/16.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/17.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/18.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/19.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/20.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w3"> 
<div class="float draggable" id="slide3">
                    <div data-slide="slide3" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/21.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/22.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/23.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/24.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/25.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/26.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/27.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/28.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/29.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/30.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w4"> 
<div class="float draggable" id="slide4">
                    <div data-slide="slide4" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/31.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/32.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/33.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/34.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/35.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/36.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/37.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/38.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/39.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/40.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w5"> 
<div class="float draggable" id="slide5">
                    <div data-slide="slide5" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/41.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/42.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/43.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/44.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/45.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/46.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/47.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/48.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/49.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/50.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w6">
<div class="float draggable" id="slide6">
                    <div data-slide="slide6" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/51.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/52.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/53.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/54.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/55.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/56.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/57.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/58.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/59.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/60.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>

                <div class="randoms_window" id="w7"> 
<div class="float draggable" id="slide7">
                    <div data-slide="slide7" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/61.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/62.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/63.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/64.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/65.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/66.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/67.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/68.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/69.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/70.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w8"> 
<div class="float draggable" id="slide8">
                    <div data-slide="slide8" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/71.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/72.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/73.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/74.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/75.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/76.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/77.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/78.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/79.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/80.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w9"> 
<div class="float draggable" id="slide9">
                    <div data-slide="slide9" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/81.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/82.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/83.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/84.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/85.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/86.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/87.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/88.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/89.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/90.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w10"> 
<div class="float draggable" id="slide10">
                    <div data-slide="slide10" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/101.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/103.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/104.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/105.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/106.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/107.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/108.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/109.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/110.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w11"> 
<div class="float draggable" id="slide11">
                    <div data-slide="slide11" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/111.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/112.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/113.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/114.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/115.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/116.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/117.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/118.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/119.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/120.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w12"> 
<div class="float draggable" id="slide12">
                    <div data-slide="slide12" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/121.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/122.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/123.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/124.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/125.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/126.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/127.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/128.webp" alt="Img 8">
                            <img src="/img/GIQ-2/slider/129.webp" alt="Img 9">
                            <img src="/img/GIQ-2/slider/130.webp" alt="Img 10">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>
                <div class="randoms_window" id="w13"> 
<div class="float draggable" id="slide13">
                    <div data-slide="slide13" class="slide" >
                        <div class="slide-items">
                          <img src="/img/GIQ-2/slider/131.webp" alt="Img 1">
                            <img src="/img/GIQ-2/slider/132.webp" alt="Img 2">
                            <img src="/img/GIQ-2/slider/133.webp" alt="Img 3">
                            <img src="/img/GIQ-2/slider/134.webp" alt="Img 4">
                            <img src="/img/GIQ-2/slider/135.webp" alt="Img 5">
                            <img src="/img/GIQ-2/slider/136.webp" alt="Img 6">
                            <img src="/img/GIQ-2/slider/137.webp" alt="Img 7">
                            <img src="/img/GIQ-2/slider/138.webp" alt="Img 8">
                        </div>
                    <nav class="slide-nav">
                      <div class="slide-thumb"></div>
                      <button class="slide-prev">Prev</button>
                      <button class="slide-next">Next</button>
                    </nav>
         </div></div></div>

         <!-- windows -->
        
        <div id="window_wrapper">
            
            <!-- sky -->
        
            <div class="sky">
                <img src="/img/GIQ-2/sky-1.webp" id="sky-1">
            </div>
            <div class="sky" id="sky-2" style="background-image:url(/img/GIQ-2/sky-2.webp)">
                
            </div>
            <div id="window">

                
                <div class="flare"> <img src="/img/GIQ-2/flare-1-2.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-2.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-3.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-4.webp"> </div>
            <div class="flare"> <img src="/img/GIQ-2/flare-5.webp"> </div>
            <div class="flare"> <img src="/img/GIQ-2/flare-6.webp"> </div>
            <div class="flare"> <img src="/img/GIQ-2/flare-1-2.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-2.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-3.webp"> </div>
                <div class="flare"> <img src="/img/GIQ-2/flare-4.webp"> </div>
            <div class="flare"> <img src="/img/GIQ-2/flare-5.webp"> </div>
            <div class="flare"> <img src="/img/GIQ-2/flare-6.webp"> </div>

            </div>
        <br style="clear: both;" /> 
        </div>
        
        <!-- bttns&random imgs -->
        <div id="random_items_wrapper">
        
                
            
        <a id="GIQ-btn-1" class="randoms draggable" target="_blank" href="https://www.wtm-boma.com/s-e-x-com"><img src="/img/GIQ-2/cava.png" style="width: 80vw;"></a>
            
        <div id="GIQ-btn-2" class="draggable randoms">
            <img src="/img/GIQ-2/massage-service.webp" id="GIQ-btn-2-img" style="width: 15vw;">
        <div id="service">
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/491046613?title=0&byline=0&portrait=0autoplay=1&loop=1&autopause=0" frameborder="0" allowfullscreen allow=autoplay width="640px" height="360"></iframe></div>
        </div> 
        <a id="GIQ-btn-3" class="randoms draggable" target="_blank" href="/img/GIQ-2/At_the_lobbis_of_S.pdf"><img src="/img/GIQ-2/invitation.webp" style="width: 20vw;"></a>
        <a id="GIQ-btn-4" class="randoms draggable" target="_blank" href="/img/GIQ-2/At_the_lobbis_of_S.pdf"><img src="/img/GIQ-2/invitation-2.webp" style="width: 20vw;"></a>
            
            <img src="/img/GIQ-2/lobby-1.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-2.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-3.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-4.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-5.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-6.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-7.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-8.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-9.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-10.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-11.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-12.png" class="randoms draggable">
            <img src="/img/GIQ-2/lobby-13.png" class="randoms draggable">
            
            
        </div>
        
        
    </div>
     
    
</div>
    <div class="GIQ-3 post-content G-blur e-content" id="flounder" itemprop="articleBody">
        <header class="post-header">
            <img src="/img/GIQ-2/thumbnail-2.svg">
        </header>    
    {{ content }}
  </div>
    <div id="close-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
</article>
    
</div>