---
layout: default-GIQ
---

<div class="wrapper_GIQ">


<article class="post h-entry" itemscope temtype="http://schema.org/BlogPosting">
 <div class="GIQ-3 post-content G-blur e-content" id="flounder" itemprop="articleBody" style="    z-index: 20000 !important;">
      <header class="post-header">
        <img src="/img/GIQ-3/thumbnail-2.svg">
  </header>
      
      {{ content }}
  </div>
    
<div ID="containment-wrapper">
    <div ID="GIQ-3-img-wrapper" class="draggable">

        
{% assign variable = 1 %}
{% for image in site.static_files %}
    {% if variable < 82 %} 
        {% if image.path contains 'img/GIQ-3/' %}
            <div class="GIQ-3-img lazyload" style="background-image: url('/img/GIQ-blur/{{ variable }}.webp')" data-src="{{ site.baseurl }}{{ image.path }}"></div>
            {% assign variable = variable | plus:1 %}    
        {% endif %}
    {% endif %}
{% endfor %}

    </div>
        </div>
 

    <div id="close-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
</article>

</div>