---
layout: default-GIQ
---

<div class="wrapper_GIQ">

<article class="post h-entry" itemscope temtype="http://schema.org/BlogPosting" style="padding: 2.5vw;">


<iframe src="/img/GIQ-2/sex_com.ogg" allow="autoplay" style="display:none" id="iframeAudio">
</iframe>
    <div style="text-align: center;">
<audio autoplay controls loop id="playAudio">
    <source src="/img/GIQ-2/sex_com.mp3" type="audio/mp3">
    <source src="/img/GIQ-2/sex_com.ogg" type="audio/ogg"> 
</audio></div>
    
  <header class="post-header">
        <img src="/img/GIQ-2/thumbnail-2.svg">
  </header>

  <div class="post-content GIQ-2 e-content" id="lorem" itemprop="articleBody">
    {{ content }}
  </div>



    <div id="close-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-left-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
    <div id="close-b-right-g" class="p-arrow" onclick="location.href='/GIQ/Projects'"> </div>
</article>
    
</div>