---
layout: default
---

<div class="home">

    <video id="video" controls autoplay></video>

<script>
const player = document.getElementById('video');
    
  const constraints = {
    video: true,
  };


  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });
    

</script>
    
    <!---
    <video id="video" class="videostream" autoplay></video>
    <img src="">
    <canvas style="display:none;"></canvas>
    
    <script>
        
        function hasGetUserMedia() {
            return !!(navigator.mediaDevices &&
                      navigator.mediaDevices.getUserMedia);}
        if (hasGetUserMedia()) {
            // Good to go!
        } else {
            alert('getUserMedia() is not supported by your browser');}
        
        const constraints = {
            video: true};
        const video = document.querySelector('video');
        navigator.mediaDevices.getUserMedia(constraints).
        then((stream) => {video.srcObject = stream});
        
        const hdConstraints = {
            video: {width: {min: 1280}, height: {min: 800}}};
        navigator.mediaDevices.getUserMedia(hdConstraints).
        then((stream) => {video.srcObject = stream});
        
        const vgaConstraints = {
            video: {width: {exact: 640}, height: {exact: 480}}};
        navigator.mediaDevices.getUserMedia(vgaConstraints).
        then((stream) => {video.srcObject = stream});
        
        const videoElement = document.querySelector('video');
        const videoSelect = document.querySelector('select#videoSource');
        
        navigator.mediaDevices.enumerateDevices().then(gotDevices).then(getStream).catch(handleError);
                
        function gotDevices(deviceInfos) {
            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' +(videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log('Found another kind of device: ', deviceInfo);}
            }
        }
        function getStream() { 
            if (window.stream) {
                window.stream.getTracks().forEach(function(track) {track.stop();});
            }
            const constraints = {
                audio: {
                    deviceId: {exact: audioSelect.value}},
                video: {
                    deviceId: {exact: videoSelect.value}}
            };
            navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);}
        
        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            videoElement.srcObject = stream;
        }
        
        function handleError(error) {
            console.error('Error: ', error);}
        
    </script>
    
    <script>
        const captureVideoButton =
        document.querySelector('#screenshot .capture-button');
        const screenshotButton = document.querySelector('#screenshot-button');
        const img = document.querySelector('#screenshot img');
        const video = document.querySelector('#screenshot video');

        const canvas = document.createElement('canvas');

        captureVideoButton.onclick = function() {
        navigator.mediaDevices.getUserMedia(constraints).
        then(handleSuccess).catch(handleError);};

        screenshotButton.onclick = video.onclick = function() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        // Other browsers will fall back to image/png
        img.src = canvas.toDataURL('image/webp');
        };

        function handleSuccess(stream) {
        screenshotButton.disabled = false;
        video.srcObject = stream;}
</script> --->

</div>
