---
layout: default
---

<div class="wrapper">


<article class="post h-entry" itemscope temtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="caption">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y.%m.%-d" -%}{{ page.date | date: date_format }}
      </time> <br>
      {{ page.at | escape }}<br>
        {{ page.who | escape }}
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

</div>