---
layout: default-GIQ
---

<div class="wrapper G-blur">
    <div class="wrapper G-innershadow" style="margin: 0vw;">
          <div class="post-header" style="text-align: center; padding-top: 1.5vw;">
   <img src="/assets/SVG/Projects-header.svg" style="max-width: 57.149vw; min-width: 300px; ">
  </div>
        {% for post in site.categories.GIQ %}
        <div class="GIQ-post-list" onclick="location.href='{{ post.url }}'" style="width:{{ post.width }}; height:auto; left: {{ post.left }}; top:{{ post.top }}; animation-name: {{ post.folder }}; animation-duration: {{ post.speed }};">
            <img src="/img/{{ post.folder }}/thumbnail.svg" onmouseover="this.src='/img/{{ post.folder }}/thumbnail_hover.svg'" onmouseout="this.src='/img/{{ post.folder }}/thumbnail.svg'"> </div>
            
    {% endfor %}

     <div id="close-left-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-right-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-b-left-g" onclick="location.href='../GIQ'"> </div>
    <div id="close-b-right-g" onclick="location.href='../GIQ'"> </div>
</div>
        
</div>

